# Typical place to build project.
/build/

# Places to store data.
# (Any folder anywhere whose name starts with "data").
data*/

# Made by Visual Studio.
.vs/
out/

# Made by Visual Studio Code.
.vscode/

# Made by PyCharm.
.idea/

# Made by Python.
__pycache__/
.ipynb_checkpoints/
